<?xml version="1.0"?>
<ruleset name="WordPress Plugin Template">
	<description>WordPress Coding Standards for the plugin template.</description>

	<file>plugin.php</file>

	<rule ref="WordPress">
		<exclude name="Generic.Arrays.DisallowShortArraySyntax.Found" />
	</rule>
	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" value="mfgmicha" />
		</properties>
	</rule>
	<rule ref="PHPCompatibility">
		<exclude name="PHPCompatibility" />
	</rule>
	<rule ref="SlevomatCodingStandard.TypeHints">
		<exclude name="SlevomatCodingStandard.TypeHints.DeclareStrictTypes" />
		<exclude name="SlevomatCodingStandard.TypeHints.UnionTypeHintFormat" />
	</rule>
	<rule ref="Yoast">
		<exclude name="Yoast.Files.FileName" />
		<exclude name="Yoast.Commenting" />
	</rule>


	<config name="tested_at_least_php" value="8.3"/>
	<config name="minimum_supported_wp_version" value="6.9"/>
</ruleset>